$background: #fff;

html {
  font-size: 1em;
}
body {
  background-color: $background;
  @include font;
}

p {
  @include hyphens;
  + p {
    margin-top: 1em;
  }
}

.tnum {
  @include tabularFigures;
}
