@import "reset";
@import "variables";

html {
  font-size: 0.9em;
}
body {
  background-color: $background;
  color: $color;
  line-height: 1.15;
  @include font;
}

.article {
  p {
    @include hyphens;
  }
}

p a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

li > a {
  display: block;
}

.tnum {
  @include tabularFigures;
}
