@import "reset";
@import "variables";

:root {
  --background: #000;
  --color: #fff;
  --stroke: #585858;
}

html {
  font-size: 0.9em;
  scroll-behavior: smooth;
}
body {
  background-color: var(--background);
  color: var(--color);
  line-height: 1.15;
  @include font;
}

.article {
  p {
    @include hyphens;
  }
}

p {
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  em, i {
    font-style: italic;
  }
}


li > a {
  display: block;
}

.tnum {
  @include tabularFigures;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

noscript {
  display: block;
  width: 100%;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 1.5rem;
}

img.lazyload,
img.lazyloading {
  opacity: 0;
}
img.lazyloaded {
  opacity: 1;
  transition: opacity 1000ms;
}
